<h2 class="mt-5 mb-4">
	Ficha de produção
	<% if current_user %>
		<div class="float-end">
			<%= link_icon(events_path, 'btn btn-light', 'fa-brands fa-whatsapp', 'Solicitar preenchimento' ) %> 
			<%= link_icon(print_production_sheet_path(@production_sheet.id), 'btn btn-light', 'fa-solid fa-file-pdf', 'Pagina de  impressão' ) %>
			<%= link_icon(events_path, 'btn btn-light', 'fa-regular fa-circle-left', 'Voltar' ) %>
		</div>
	<% end %>
</h2>

<%= render 'form', production_sheet: @production_sheet %>

<br clear="all">