/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
	font-family: 'Roboto', sans-serif;
}

.logo{
	width: 250px;
}

.login-logo{
	width: 350px;
}

.bg-image-vertical {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;
}

.app-container{
	padding: 5px 30px 20px;
	margin: 30px 0px;
}

.app-base{
	padding: 0px 20px;
}

@media print {
 #printButtons{
 	display: none;
 }
 .hideInprint{
 	display: none;
 }
}