<h2 class="mt-5 mb-5">
  Aprovadores
  <%= link_icon(new_approver_path, 'btn btn-primary float-end', 'fa-solid fa-plus', 'Novo Aprovador' ) %>
</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @approvers.each do |approver| %>
      <tr>
        <td><%= approver.name %></td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
              Opções
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Editar', edit_approver_path(approver), class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to 'Deletar', approver, method: :delete, class: 'dropdown-item text-danger' %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br clear="all">
